#!/usr/bin/env bash

if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

# `-` does replacement if the variable is unset, unlike `:-` which replaces if the variable is null or unset
OLD_TMPDIR=${TMPDIR-unset}

source_env_if_exists .envrc.vars

if has nix; then
  use nix ./shell.nix
  watch_dir nix
else
    (
        echo
        echo 'NOTE: This project uses `nix` for its development environment.'
        echo
        echo '      To use it, install it from here: https://nixos.org/download.html#download-nix'
        echo '      and make sure that `nix` is on your `$PATH`.'
        echo
    ) >&2
fi

if ! version=$(grep 'val version' "project/project/DamlVersions.scala" | cut -d\" -f2) || [[ -z "$version" ]]; then
    >&2 echo "Failed to lookup daml version from DamlVersions.scala"
else
  export DAML_VERSION=$version
fi

if ! registry=$(grep 'val dpm_registry' "project/project/DamlVersions.scala" | cut -d\" -f2) || [[ -z "$registry" ]]; then
    >&2 echo "Failed to lookup DPM registry from DamlVersions.scala"
else
  export DPM_REGISTRY=$registry
fi

[ $OLD_TMPDIR != "unset" ] && export TMPDIR=$OLD_TMPDIR

if ! [ "$(git config core.hooksPath)" = ".hooks" ]; then
  git config core.hooksPath .hooks
fi

source_env_if_exists .envrc.private
