<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- TODO(#12063) unify with Canton -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/ledger_api_test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
        </encoder>
    </appender>

        <!-- TODO(#12063) Enable once all expected WARN and ERROR messages are properly handled -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %replace(, context: %marker){', context: $', ''} %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level>-->
<!--        </filter>-->
<!--    </appender>-->

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="RecoveringIndexerLoggerCapture" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.indexer.RecoveringIndexerSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.platform.indexer.RecoveringIndexer" level="INFO">
        <appender-ref ref="RecoveringIndexerLoggerCapture"/>
    </logger>

    <appender name="ApiPackageManagementServiceLoggerCapture" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.apiserver.services.admin.ApiPackageManagementServiceSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.platform.apiserver.services.admin.ApiPackageManagementService" level="INFO">
        <appender-ref ref="ApiPackageManagementServiceLoggerCapture"/>
    </logger>

    <appender name="JdbcIndexerSpecAppender" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.indexer.JdbcIndexerSpec</test>
    </appender>

    <appender name="IndexerStabilitySpecAppender" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.indexer.ha.IndexerStabilitySpec</test>
    </appender>

    <appender name="LogOnUnhandledFailureInCloseCapture" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.apiserver.error.ErrorInterceptorSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.platform.apiserver.error.LogOnUnhandledFailureInClose" level="INFO">
        <appender-ref ref="LogOnUnhandledFailureInCloseCapture"/>
    </logger>

    <appender name="ErrorInterceptor" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.apiserver.error.ErrorInterceptorSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.platform.apiserver.error.ErrorInterceptor" level="INFO">
        <appender-ref ref="ErrorInterceptor"/>
    </logger>

    <logger name="com.digitalasset.canton.platform.store.dao.HikariConnection" level="INFO">
        <appender-ref ref="JdbcIndexerSpecAppender"/>
        <appender-ref ref="IndexerStabilitySpecAppender"/>
    </logger>

    <logger name="org.flywaydb" level="INFO">
        <appender-ref ref="IndexerStabilitySpecAppender"/>
    </logger>

    <logger name="com.zaxxer.hikari" level="INFO">
        <appender-ref ref="IndexerStabilitySpecAppender"/>
    </logger>

    <appender name="ErrorCodeLogCollector" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.daml.error.ErrorCodeSpec</test>
    </appender>

    <logger name="com.daml.error.ErrorCodeSpec" level="INFO">
        <appender-ref ref="ErrorCodeLogCollector"/>
    </logger>

    <appender name="RecoveringIndexerLogCollector" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.indexer.RecoveringIndexerIntegrationSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.platform.indexer.RecoveringIndexer" level="INFO">
        <appender-ref ref="RecoveringIndexerLogCollector"/>
    </logger>

    <appender name="ErrorFactoriesLogCollector" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.platform.server.api.validation.ErrorFactoriesSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.platform.server.api.validation.ErrorFactoriesSpec" level="DEBUG">
        <appender-ref ref="ErrorFactoriesLogCollector"/>
    </logger>

    <appender name="LogCollectionsLogCollector" class="com.digitalasset.canton.testing.TestingLogCollector">
        <test>com.digitalasset.canton.testing.TestingLogCollectorSpec</test>
    </appender>

    <logger name="com.digitalasset.canton.testing.TestingLogCollectorSpec" level="DEBUG">
        <appender-ref ref="LogCollectionsLogCollector"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
        <!-- TODO(#12063) Enable once all expected WARN and ERROR messages are properly handled -->
        <!--        <appender-ref ref="STDOUT" />-->
    </root>
</configuration>
