<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- TODO(#12063) unify with Canton -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/ledger_api_test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %mdc%n</pattern>
        </encoder>
    </appender>

        <!-- TODO(#12063) Enable once all expected WARN and ERROR messages are properly handled -->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %replace(, context: %marker){', context: $', ''} %n</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level>-->
<!--        </filter>-->
<!--    </appender>-->

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
        <!-- TODO(#12063) Enable once all expected WARN and ERROR messages are properly handled -->
        <!--        <appender-ref ref="STDOUT" />-->
    </root>
</configuration>
